<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout :: site-head"/>
    <head>
        <link th:href="@{/css/table/datatables.css}" rel="stylesheet" />
        <script th:src="@{/js/table/datatables.js}"></script>
        <script th:src="@{/js/admin/settings.js}"></script>
    </head>

    <body>
        <div class="wrapper">
            <header th:replace="layout :: site-header" />
            <aside th:replace="layout :: site-aside" />
            <section>
                <div class="content-wrapper">
                    <div class="content-heading">
                        <ol class="breadcrumb">
                            <li>Dashboard </li>
                            <li>Settings</li>
                        </ol>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <span id="header-progress" class="header-tag-first" onclick="javascript:showPanel('progress');" title="Concepts"> 
                                            <span class="header-strong">Progress</span>
                                        </span>
                                        <span id="header-analysis" class="header-tag" onclick="javascript:showPanel('analysis');" title="Units"> 
                                            <span>Analysis</span>
                                        </span>
                                        <span id="header-gis" class="header-tag-last" onclick="javascript:showPanel('gis');" title="Concepts"> 
                                            <span>GIS</span>
                                        </span>

                                    </div>
                                    <div class="card-body">
                                        <table id="table-progress" class="table table-condensed table-striped" th:if="${dashBoardreports}" cellspacing="0">
                                            <thead>
                                                <tr th:unless="${(dashBoardreports == null) or (dashBoardreports.size() == 0) }">
                                                    <th><span>Id</span></th>
                                                    <th><span>Name</span></th>
                                                    <th><span>Database table</span></th> 
                                                    <th><span>Display</span></th>
                                                    <th><span>Type</span></th>
                                                    <th width="1%"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="report : ${dashBoardreports}" th:if="${(report.type.name == 'progress')}">
                                                    <td th:text="${report.id}"></td>
                                                    <td th:text="${report.name}"></td>
                                                    <td th:text="${report.tableName}"></td>
                                                    <td th:text="${report.isVisible}? YES : NO"></td>
                                                    <td th:text="${report.type.name}"></td>
                                                    <td style="width: 1%">
                                                        <a href="javascript:void(0)" title="Edit regola" role="button" 
                                                           th:attr="onclick='javascript:editReport(' + ${report.id} + ', \'' + ${report.name} + '\', \'' + ${report.tableName} + '\', ' + ${report.isVisible}+ ')'">	
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                        <table id="table-analysis" class="table table-condensed table-striped" th:if="${dashBoardreports}" cellspacing="0">
                                            <thead>
                                                <tr th:unless="${(dashBoardreports == null) or (dashBoardreports.size() == 0) }">
                                                    <th><span>Id</span></th>
                                                    <th><span>Name</span></th>
                                                    <th><span>Database table</span></th>
                                                    <th><span>Order</span></th> 
                                                    <th><span>Display</span></th>
                                                    <th><span>Type</span></th>
                                                    <th width="1%"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="report : ${dashBoardreports}" th:if="${(report.type.name == 'analysis')}">
                                                    <td th:text="${report.id}"></td>
                                                    <td th:text="${report.name}"></td>
                                                    <td th:text="${report.tableName}"></td>
                                                    <td th:text="${report.order}"></td>
                                                    <td th:text="${report.isVisible}? YES : NO"></td>
                                                    <td th:text="${report.type.name}"></td>
                                                    <td style="width: 1%">
                                                        <a href="javascript:void(0)" title="Edit regola" role="button" 
                                                           th:attr="onclick='javascript:editReport(' + ${report.id} + ', \'' + ${report.name} + '\', \'' + ${report.tableName} + '\', ' + ${report.isVisible}+ ')'">	
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                        <table id="table-gis" class="table table-condensed table-striped" th:if="${dashBoardreports}" cellspacing="0">
                                            <thead>
                                                <tr th:unless="${(dashBoardreports == null) or (dashBoardreports.size() == 0) }">
                                                    <th><span>Id</span></th>
                                                    <th><span>Name</span></th>
                                                    <th><span>Description</span></th>
                                                    <th><span>Order</span></th> 
                                                    <th><span>Display</span></th>
                                                    <th><span>Type</span></th>
                                                    <th width="1%"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="report : ${dashBoardreports}" th:if="${(report.type.name == 'gis')}">
                                                    <td th:text="${report.id}"></td>
                                                    <td th:text="${report.name}"></td>
                                                    <td th:text="${report.description}"></td>
                                                    <td th:text="${report.order}"></td>
                                                    <td th:text="${report.isVisible}? YES : NO"></td>
                                                    <td th:text="${report.type.name}"></td>
                                                    <td style="width: 1%">
                                                        <a href="javascript:void(0)" title="Edit regola" role="button" 
                                                           th:attr="onclick='javascript:editReport(' + ${report.id} + ', \'' + ${report.name} + '\', \'' + ${report.tableName} + '\', ' + ${report.isVisible}+ ')'">	
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer th:replace="layout :: site-footer" />
        </div>

        <!-- Bootstrap modal -->
        <div class="modal fade" id="edit-report-modal" role="dialog" >
            <div class="modal-dialog " role="document">
                <div class="modal-content ">
                    <form th:action="@{/admin/editReport}" id="form" class="form-horizontal" method="post">
                        <input type="hidden" value="" name="id" id="report-id"/>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">
                                <i class="fa fa-file-text-o"></i>
                                <span>Report</span>
                            </h4>
                        </div>
                        <div class="modal-body form">
                            <div class="form-body">
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-2">
                                            <label class="control-label"><span>Name</span></label>
                                        </div>
                                        <div class="col-lg-10">
                                            <input name="nome" id="report-name" title="Name" class="form-control" type="text" />
                                            <span class="help-block">
                                                <small class="text-danger" id="nomesesserror"></small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-2">
                                            <label class="control-label"><span>Table</span></label>
                                        </div>
                                        <div class="col-lg-10">
                                            <input name="table" id="report-table" title="Database table" class="form-control" type="text" readonly/>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-2">
                                            <label class="control-label"><span>Display</span></label>
                                        </div>
                                        <div class="col-lg-10">
                                            <select id="report-visible" style="margin-top: 5px">
                                                <option value=0 >NO</option>
                                                <option value=1 >YES</option>
                                            </select> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <span>Close</span>
                        </button>
                        <button type="button" id="btn-submit-ns" class=" btn btn-primary">
                            <span>Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
