<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <head th:include="layout :: site-head" th:remove="tag" />
        <script th:src="@{/js/admin/update.js}" type="text/javascript"></script>        
    </head>
    <body>
        <div class="wrapper">
            <header th:replace="layout :: site-header"></header>
            <aside th:replace="layout :: site-aside"></aside>
            <section>
                <div class="content-wrapper">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li>CSPro2Sql</li>
                            <li>Update</li>
                        </ol>
                    </nav>

                    <div class="container-fluid">
                        <div class="row"></div>
                    </div>
                </div>
            </section>

            <!-- Bootstrap modal -->
            <div class="modal fade" id="modalRunCspro2Sql" role="dialog">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">Modal Header</div>
                        <div class="modal-body">Modal Body</div>
                        <div class="modal-footer">Modal footer</div>
                    </div>
                </div>
            </div>           
            <footer th:replace="layout :: site-footer" />
        </div>     
    </body>
</html>

