<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: site-head"/>
    <head>
        <script th:src="@{/js/chart/jquery.classyloader.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/report/totalHousehold.js}" type="text/javascript"></script>
        <script th:src="@{/js/chart/chart.bundle.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/report/sexdistributionList.js}" type="text/javascript"></script>
        <script>
            $(function () {
                setMenuActive("home");
            });
        </script>
    </head>
    <body>
        <!-- Body -->    
        <div class="wrapper">
            <header th:replace="layout :: site-header" />
            <aside th:replace="layout :: site-aside" />
            <!-- START MAIN CONTAINER -->
            <section>
                <div class="content-wrapper">
                    <div class="content-heading">
                        <ol class="breadcrumb">
                            <li>Home</li>
                        </ol>
                    </div>
                    <!-- START PANEL-->
                    <div class="bs-callout">
                        <h4>Welcome to CSPro Dashboard</h4>
                        <p style="margin-top: 15px">
                            Choose a report <span sec:authentication="name">User</span>!  
                        </p>
                    </div>
                    <!-- END PANEL-->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Male and female sex distribution chart
                                    </div>
                                    <div class="panel-body">
                                        <canvas id="bar-chart-area" />
                                    </div>
                                </div>
                            </div>
                        
                            <!-- START WIDGET -->
                            <div class="col-lg-3 col-sm-6">
                                <div class="panel widget bg-blue">
                                    <div class="row row-table">
                                        <div class="col-xs-4 text-center bg-blue-dark ">
                                            <em class="fa fa-briefcase fa-3x"></em>
                                        </div>
                                        <div class="col-xs-8 widget-content">
                                            <div class="h2 mt0" id="householdFieldwork"></div>
                                            <div class="text-uppercase">Field Work</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <div class="text-info">Field Work / Freshlist</div>
                                        <canvas class="fieldworkFreshlist"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6" th:if="${dashboardInfo.listing}">
                                <div class="panel widget bg-blue">
                                    <div class="row row-table">
                                        <div class="col-xs-4 text-center bg-blue-dark pv-lg">
                                            <em class="fa fa-file-text-o fa-3x"></em>
                                        </div>
                                        <div class="col-xs-8 widget-content">
                                            <div class="h2 mt0" id="householdFreshlist"></div>
                                            <div class="text-uppercase">Freshlist</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END MAIN CONTAINER -->
            <footer th:replace="layout :: site-footer" />
        </div><!-- wrapper -->
    </body>
</html>
